<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Copyrights &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. All Rights Reserved.
    </span>
    <br>
    <span class="powered-by">
        Powered by <a href="https://hexo.io">Hexo</a> with a modified theme based on <a href="http://louisbarranqueiro.github.io/hexo-theme-tranquilpeak/">Tranquilpeak</a>
    </span>
</footer>
